@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(img/photo-1516975080664-ed2fc6a32937.jpeg); /* Reemplaza con tu imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.prin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.logo {
    color: #FEFDED;
    font-size: 35px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.prin .nav ul li {
    position: relative;
    float: left;
}

.prin .nav ul li a {
    font-size: 22px;
    padding: 20px;
    color: #FEFDED;
    display: block;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.prin .nav ul li a:hover {
    color: #E5E1DA;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

.table-container h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

td{
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px;
    text-align: left;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.1);
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}