@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(img/photo-1516975080664-ed2fc6a32937.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.prin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.logo {
    color: #FEFDED;
    font-size: 35px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.prin .nav ul li {
    position: relative;
    float: left;
}

.prin .nav ul li a {
    font-size: 22px;
    padding: 20px;
    color: #FEFDED;
    display: block;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.prin .nav ul li a:hover {
    color: #E5E1DA;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FEFDED;
    margin-bottom: 10px;
}

.form label{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="number"],
.form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form input[type="submit"] {
    padding: 8px 15px;
    background-color: #9AA6B2;
    color: #FEFDED;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.form label {
    color: white;
    text-align: left;
    margin-bottom: 3px;
}